html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Yeseva One", cursive;
}
p {
  margin: 10px;
}

.locationTimeBackground {
  padding-bottom: 50px;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.pexels.com/photo/mountain-at-night-under-a-starry-sky-1624496/");
}
.locationTime {
  height: 100%;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 28px;
  color: whitesmoke;
}
.live-date {
  font-size: 40px;
  position: sticky;
  top: 50%;
  width: 100%;
  text-align: center;
}
.location-search {
  margin: 0 auto;
  text-align: center;
}
.location-search-card {
  border-radius: 8px;
  width: 60%;
  /* height: 60%; */
  margin: 30px auto;
}
.weather-stats {
  margin: top 60px;
}
.card-body {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}

.days {
  height: 180px;
  text-align: center;
  margin: 10px 0;
}
.title-day {
  text-decoration: underline;
}
.day-background {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 8px;
}
.all-days-container {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 8px;
}
.forecast-title {
  border-radius: 20px;
  display: block;
  font-size: 20px;
  color: black;
}
.show-city {
  border-radius: 20px;
  display: block;
  font-size: 20px;
  color: black;
  margin: 30px auto 10px;
  width: fit-content;
}
.days-container {
  /* background-color: #f1dfd9; */
  border-radius: 8px;
  margin: 10px 0 60px;
  padding: 2.5px 5px;
}

.five-days-container {
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.day-degrees {
  position: absolute;
  top: 38px;
  right: 15%;
}
.weather-forecast {
  width: 100%;
  margin: 0 auto;
}
.current-weather {
  font-size: 18px;
}
.code-link {
  font-size: 13px;
  color: #212529;
}
.where-background {
  background-color: #ffadad;
  padding: 20px;
  width: 100%;
  height: fit-content;
}

.city-input {
  border-radius: 18px;
  border: solid #f1dfd9 1px;
  display: inline-block;
  margin: 10px 5px 10px;
  padding: 4px 12px;
}
.search-city {
  border-radius: 8px;
  border: solid #f1dfd9 1px;
  box-shadow: rgb(241, 223, 217, 0.2) 5px 5px;
  margin: 0 5px;
  padding: 4px 12px;
}
.place {
  font-size: 25px;
}
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.temp {
  font-size: 20px;
  line-height: 10px;
}

.fahrenheit-link,
.celcius-link {
  border-radius: 4px;
  border: 0.1px solid rgb(250, 248, 141);
  background-color: white;
  color: #212529;
  font-size: 12px;
}
.fahrenheit-link:hover,
.celcius-link:hover {
  color: #f1dfd9;
}
