html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Yeseva One", cursive;
}
p {
  margin: 10px;
}

.locationTimeBackground {
  padding: 150px 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.pexels.com/photo/mountain-at-night-under-a-starry-sky-1624496/");
}
.locationTime {
  height: 100%;
  width: 100%;
  text-align: center;
}

.live-date {
  font-size: 35px;
  color: white;
  text-align: center;
}
.location-search {
  margin: 0 auto;
  text-align: center;
}
.location-search-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 80%;
  margin: 50px auto;
}
.weather-stats {
  margin: top 60px;
}
.card-body {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}

.days {
  height: 180px;
  text-align: center;
  margin: 10px 0;
}
.day-background {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 8px;
}
.all-days-container {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 8px;
}
.forecast-title {
  margin: 65px 0 10px;
  display: block;
  font-size: 22px;
}
.show-city {
  border-radius: 20px;
  display: block;
  font-size: 20px;
  color: black;
  margin: 20px auto 10px;
  width: fit-content;
}
.days-container {
  border-radius: 8px;
  margin: 0 0 30px;
  padding: 2.5px 5px;
}

.five-days-container {
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.day-degrees {
  position: absolute;
  top: 38px;
  right: 15%;
}
.weather-forecast {
  width: 100%;
  margin: 10px auto 30px;
}
.weather-stats {
  margin-top: 30px;
}
.weather-forecast-date {
  text-decoration: underline;
}
.current-weather {
  font-size: 18px;
}
.where-background {
  background-color: #ffadad;
  padding: 20px;
  width: 100%;
  height: fit-content;
}

.city-input {
  border-radius: 8px;
  border: solid rgba(241, 223, 217) 1px;
  display: inline-block;
  margin: 10px 0;
  padding: 4px 12px;
}
.search-city {
  border-radius: 8px;
  border: 2px solid rgb(250, 248, 141);
  box-shadow: rgb(241, 223, 217, 0.5) 5px 5px;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 4px 12px;
}
.place {
  font-size: 28px;
  margin-left: 55px;
}
.icon {
  display: inline-block;
  width: 55px;
  height: 55px;
}
.temp {
  font-size: 20px;
  line-height: 10px;
}

.fahrenheit-link,
.celcius-link {
  border-radius: 4px;
  border: 2px solid rgb(250, 248, 141);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: rgb(241, 223, 217, 0.5) 5px 5px;
  color: #212529;
  font-size: 12px;
}
.fahrenheit-link:hover,
.celcius-link:hover {
  color: #f1dfd9;
}
.code-link,
.pexels-code-link {
  font-size: 13px;
  color: #212529;
}
